body {
    background-color: black;
}

.root {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 1000px;
    height: 1000px;
}

.app-container {
    position: absolute;
    display: flex;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #239;    
}

.panel {
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: rgba(245,245,245,0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.control-toggle {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    font-size: 3vmin;
    padding: 1vmin;
    background-color: white;
    z-index: 3;
}

.control-width {
    width: 300px;
}

.control-open {
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    right: 0;
    top: 0;
    font-size: 2vmin;
    padding: 1vmin;
    background-color: white;
    width: 300px;
    transition: width 0.3s;
    transition: background-color: 0.3s;
    z-index: 2;
}

.control-closed {
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    right: 0;
    top: 0;
    font-size: 2vmin;
    padding: 1vmin;
    background-color: #eee;
    width: 15px;
    transition: width 0.3s;
    transition: background-color: 0.3s;
    z-index: 2;
}

.panel-selected.panel-selected {
    background-color: rgba(255,255,255,0.9);
}

.dragger {
    position: absolute;
    background-color: rgba(0,0,99,0.4);
}